<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProfile name="prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <!--
                  Tek satir JSON log. Mesaj icindeki backslash/tirnak/satir sonlari
                  kacirilir (log injection ve bozuk JSON onlenir). Istisna (stack trace)
                  ayri bir alanda, satir sonlari kacirilarak basilir; aksi halde prod'da
                  hatalarin izi hicbir yere dusmez.
                -->
                <pattern>{"timestamp":"%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}","level":"%level","logger":"%logger{40}","correlationId":"%X{correlationId}","message":"%replace(%replace(%replace(%msg){'\\','\\\\'}){'"','\"'}){'[\r\n]+','\\n'}","exception":"%replace(%replace(%replace(%ex){'\\','\\\\'}){'"','\"'}){'[\r\n]+','\\n'}"}%n</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>
        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="com.raspel.erp" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>

    <springProfile name="!prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <!-- %ex: istisna stack trace'i (aksi halde hatalar yalnizca mesajla sinirli kalir). -->
                <pattern>%d{HH:mm:ss.SSS} %-5level [%X{correlationId:-}] %logger{36} - %msg%n%ex</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
